{% extends 'base.html'%}
{%set active_page='quotes'%}

{% block content %}
<h1 class="display-4 text-center">Wisdom abounds!</h1>
<a href="/quotes/new" class="btn btn-outline-primary">Make a new Quote</a>
<div class="container  border p-0 rounded mt-4">
    <div class="container-fluid" style='height:30px'>
        <p class="d-inline mr-2">Sort by:</p>
        <a href="/quotes?f=famous" class="badge badge-primary">Famous</a>
        <a href="/quotes?f=community" class="badge badge-secondary">Community</a>
        <a href="/quotes?f=author" class="badge badge-success">Author</a>
    </div>
    <div class="container-fluid border">
        <div class="row">
            {% for quote in quotes %}
            <div class="col">
                {% include '/quotes/quote.html' %}
            </div>
            {%endfor%}
        </div>
    </div>
</div>
    

{% endblock%}