
{% if quote.author%}
<div class="card bg-light p-2 my-1 mx-auto"style='width:100%'>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p class='quote-content'>{{quote.content}}</p>
            <footer class="blockquote-footer">
                <cite title="Source Title"><a target='_blank' href="https://www.google.com/search?q={{quote.author}}" class='author'>{{quote.author}}</a></cite>
            </footer>
        </blockquote>
        
    </div>
    <hr class="quote">
    <div class="container-fluid d-flex justify-content-around">
        {% if quote in g.poet.likes%}
        <i class="fas fa-heart text-danger mr-2"></i>
        {% else %}
        <i class="far fa-heart text-danger mr-2"></i>
        {% endif %}
        <button type="button" class="astext" data-bs-toggle="modal" data-bs-target="#modal{{quote.id}}">
            <i class="far fa-comment"></i>
        </button>
        {% if quote in g.poet.shares%}
        <i class="mr-2 fas fa-minus-circle"></i>
        {% else %}
        <i class="mr-2 fas fa-share"></i>
        {% endif %}
        
         <!-- Button trigger modal -->
        

        <!-- Modal -->
        <div class="modal  fade" id="modal{{quote.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{quote.author}}'s quote</h5>
                <button type="button" class="btn-close astext" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-window-close fa-lg text-danger"></i></button>
                </div>
                <div class="modal-body">
                
                <div class="container-fluid mb-5 quote-content">
                    {{quote.content}}
                </div>
                <hr>
                <p class="lead">Comments:</p>
                    <div class="container-fluid comments">
                        {%for comment in quote.comments%}
                        <div class="container border rounded bg-light">
                            <blockquote class="blockquote">
                                {{comment.content}}
                                <footer class="blockquote-footer">
                                    <cite title="Source Title"><a href="/poets/{{quote.poet_id}}" class='author'>{{comment.poet.username}}</a></cite>
                                </footer>
                            </blockquote>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <form action="">
                            <div class="input-group">
                                <input data-quote='{{quote.author}}' type="text" class="form-control">
                                <button class="comment btn ml-1 btn-success">Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
            
    </div>
    
</div> 
{% else%}
<div class="card bg-light p-2 my-1 mx-auto " style='width:20rem'>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <p>{{quote.content}}</p>
            <footer class="blockquote-footer">
                <cite title="Source Title"><a href="/poets/{{quote.poet_id}}" class='author'>{{quote.poet.username}}</a></cite>
            </footer>
        </blockquote>
    </div>
    <hr class='quote'>
    <div class="container-fluid d-flex justify-content-around quote-footer">
        {% if not quote in g.poet.quotes%}
            {% if quote in g.poet.likes%}
            <i class="fas fa-heart text-danger"></i>
            {% else %}
            <i class="far fa-heart text-danger"></i>
            {% endif %}
            <button type="button" class="astext" data-bs-toggle="modal" data-bs-target="#modal{{quote.id}}">
                <i class="far fa-comment"></i>
            </button>
            {% if quote in g.poet.shares%}
            <i class="mr-2 fas fa-minus-circle"></i>
            {% else %}
            <i class="mr-2 fas fa-share"></i>
            {% endif %}
            
        {% else %}
        <i class="far fa-minus-square text-danger"></i>
        {% endif %}
        
        <!-- Button trigger modal -->
        

        <!-- Modal -->
        <div class="modal  fade" id="modal{{quote.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{quote.poet.username}}'s quote</h5>
                <button type="button" class="btn-close astext" data-bs-dismiss="modal" aria-label="Close"><i class="far fa-window-close fa-lg text-danger"></i></button>
                </div>
                <div class="modal-body">
                
                <div class="container-fluid mb-5 quote-content">
                    {{quote.content}}
                </div>
                <hr>
                <p class="lead">Comments:</p>
                    <div class="container-fluid comments">
                        {%for comment in quote.comments%}
                        <div class="container border rounded bg-light">
                            <blockquote class="blockquote">
                                {{comment.content}}
                                <footer class="blockquote-footer">
                                    <cite title="Source Title"><a href="/poets/{{quote.poet_id}}" class='author'>{{comment.poet.username}}</a></cite>
                                </footer>
                            </blockquote>
                        </div>
                        {% endfor %}
                        
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container-fluid">
                        <form action="">
                            <div class="input-group">
                                <input data-quote='{{quote.id}}' type="text" class="form-control">
                                <button class="comment btn ml-1 btn-success">Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    
</div> 
{% endif %}