{% extends 'base.html'%}
{%set active_page='quotes'%}
{% block title %}Axiomatic{% endblock %}

{% block content %}
<h1 class="display-4 text-center">Wisdom abounds!</h1>
<div class="container-fluid text-center  d-md-none">
    <p class="card-text">Want to share your own axioms?</p>
    <a href="/quotes/new" class="btn btn-outline-primary">Create your own quote!</a>
</div>

<div class="container  border p-0 rounded mt-4">
    <div class="container-fluid" style='height:30px'>
        <p class="d-inline mr-2">Show me:</p>
        <a href="/quotes?f=philosophers" class="badge badge-primary">Philosphers</a>
        <a href="/quotes?f=community" class="badge badge-primary">Community</a>
        <a href="/quotes?f=following" class="badge badge-primary">Following</a>
    </div>
    <div class="container-fluid border">
        {% if quotes %}
        <div class="row">
            {% for quote in quotes %}
            <div class="col-12 col-md-4">
                {% include '/quotes/quote.html' %}
            </div>
            {%endfor%}
        </div>
        {% else%}
        <div class="container-fluid d-flex justify-content-center">
            <p class="lead">
                No quotes here!
            </p>

        </div>
        {%endif%}
    </div>
</div>
<div class="card  float d-none d-md-block">
    <div class="card-body">
        <p class="card-text">Want to share your own axioms?</p>
        <a href="/quotes/new" class="">Create your own quote!</a>
    </div>

</div>
    

{% endblock%}