@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.astext {
    background:none;
    color:black;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    margin-bottom:10px;
}
.astext:focus {
    outline: none;
    box-shadow: none;
  }
i{
    margin-top:5px;
    cursor:pointer;
}

.quote-footer{
    height:30px;
}

hr.quote{
    margin-bottom:10px;
    margin-top:30px;
}

/* .hero{
    background:url('https://images.unsplash.com/photo-1492269682833-cd80f8a20b08?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHplbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat:no-repeat;

} */

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    width: 100vw;
}

.img-holder{
    position: relative;
    text-align: center;
    max-height:70vh;
    overflow-y:hidden;
    overflow-x:hidden;
}
.anon{
    height:100vh;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero{
    background-color: rgba(19, 18, 73, 0.2);
}
.qod{
    height:80vh;
}
.qod blockquote p{
    font-family: 'Marck Script', cursive;
    font-size:3em;
}
.full{
    height:80vh;
}
.push{
    height:150px;
}

.comments{
    height:20rem;
    overflow-y:scroll;
}

.float{
    position:fixed;
    right:0;
    bottom:0;
}

.indent{
    text-indent: 50px;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 20rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 25rem;
}
@media screen and (max-width: 450px){
    .qod blockquote p{
        font-size:1em;
    }
    .push{
        height:420px;
    }

}
@media screen and (max-width: 780px){
    .qod blockquote p{
        font-size:1.5em;
    }

}