{% extends 'base.html'%}
{% set active_page = "about"%}
{% block title %}About{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container d=flex justify-content-center">
        <h1 class="display-4 text-center">Axiomatic</h1>
        <hr>
        <p class="lead indent">
            Axiomatic is a project developed by me, <a href="https://www.linkedin.com/in/john-tettis/">John Tettis</a>. At the time of this project, I am studying at Springboard as a software engineer. Axiomatic is the first of three Capstone projects to be completed in my time at Springboard. 
        </p>
        <p class="lead indent">
            My goals with axiomatic is to demonstrate my skills in web development while also producing a useful application for thinkers and contemplators. The API I used posed significant limitations to my design, as no search, category, or quote identification were provided. Although, this limitation ultimately made me more creative, and I am very pleased with the final design of Axiomatic. To learn more about me and my career, or about the Quote API I used, see the links below. Thanks for checking out my site!:)
        </p>
        <ul class='list-group list-group-flush'>
            <li class='list-group-item'>
                <a href="">Github Repo</a>

            </li>
            <li class='list-group-item'>
                <p class='m-0'><a href="https://zenquotes.io/">Zen Quotes API</a>(Credit for all the quotes)</p>

            </li>
            <li class='list-group-item'>
                <a href="https://www.linkedin.com/in/john-tettis/">LinkedIn</a>
            </li>
            <li class='list-group-item'>
                <a href="https://www.springboard.com/courses/software-engineering-career-track/">Springboard</a>

            </li>
        </ul>
    </div>
</div>
<div class="push"></div>
{%endblock%}