{% extends 'base.html'%}
{% set active_page = "about"%}
{% block title %}About{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="container d=flex justify-content-center bg-light">
        <h1 class="display-4 text-center">Axiomatic</h1>
        <hr>
        <p class="lead">
            Axiomatic is a project developed by me, <a href="https://www.linkedin.com/in/john-tettis/">John Tettis</a>. At the time of this project, I am studying at Springboard as a software engineer. Axiomatic is the first of three Capstone projects to be completed in my time at Springboard. 
        </p>
        <a href="">Github Repo</a>
        <p><a href="https://zenquotes.io/">Zen Quotes API</a>(Credit for all the quotes)</p>
    </div>
</div>
{%endblock%}