<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/colors.css">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>
{% if g.poet %}
{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/quotes', 'quotes', 'Quotes'),
    ('/about', 'about', 'About'),
    ('/account', 'account','Account')
] -%}
{% else %}
{% set navigation_bar = [
    ('/', 'home', 'Home'),
    ('/quotes', 'quotes', 'Quotes'),
    ('/about', 'about', 'About'),
] -%}

{% endif %}

{% set active_page = active_page|default('index') -%}

 

<div id="page-container">
  <div id="content-wrap">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Axiomatic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% for href, id, caption in navigation_bar %}
              <li class="nav-item">
                    <a class="nav-link {% if id == active_page %} active{% endif %}" href="{{href}}">{{caption}}</a>
                  </li>
              {% endfor %}
              
          </ul>
          {% if g.poet%}
          <div class="nav-item">
            <a href="/logout">Logout</a>
          </div>
          {% else%}
          <div class="d-flex flex-column flex-lg-row">
            <div class="nav-item">
              <a href="/login" class="nav-link pl-0">Login</a>
            </div>
            <div class="nav-item">
              <a href="/signup" class="nav-link pl-0">Signup</a>
            </div>

          </div>
          
          {% endif %}
        </div>
      </div>
      
      
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <div class="container-fluid d-flex justify-content-center bg-primary" style='height:30px'>
           <p class="mx-auto text-white">
            {{message}}
           </p>
         </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {%block content%}
    {%endblock %}
  </div>
  <footer id='footer'class="bg-dark text-center text-lg-start">
  
    <div class="container p-4">
      
      <div class="row">
        
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class=" text-light text-uppercase">Axiomatic</h5>
  
          <p class="text-light">
            Axiomatic is a project meant to promote intellectual, philosophical, and spiritual discussion. Without all the extras that come with social media. Expand your consciousness, learn, and share your deepest thoughts
          </p>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">More</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="https://www.linkedin.com/in/john-tettis/" class="text-light">Linkedin</a>
            </li>
            <li>
              <a href="https://github.com/john-tettis/axiomatic" class="text-light">GitHub Repo</a>
            </li>
            <li>
              <a href="/about" class="text-light">About</a>
            </li>
            <li>
              <a href="https://studio.youtube.com/channel/UCBrhD4-eIKO7u50no3YICIw/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D" class="text-light">I like music too</a>
            </li>
          </ul>
        </div>
    
      </div>
   
    </div>
  </footer>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
 integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="/static/js/app.js"></script>
</body>
</html>