{% extends 'base.html'%}
{% set active_page = "home"%}
{% block title %}Axiomatic{% endblock %}
{% block content %}


<div class=" mb-5 text-center hero">

  <div class="container-fluid img-holder p-0">
    <img class='center-fit'src="https://images.unsplash.com/photo-1492269682833-cd80f8a20b08?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHplbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
    <div class="centered">
      <h1 class="display-4 fw-bold text-primary">Axiomatic</h1>
      <div class="col-lg-6 mx-auto">
        <p class=" d-none d-sm-block lead text-secondary mb-4">Read what the world's most renowned philosophers and intellectuals have to say. Discuss, create, have some fun!</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href="/quotes/new" class="btn btn-outline-primary btn-lg px-4  me-sm-3">Add your wisdom!</a>
      </div>
    </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center qod">
  <h1 class="display-4 text-center">
    Todays Words of Wisdom from {{quote.author}}
  </h1>
  <hr>
  <blockquote class='blockquote py-4 my-4'>
    <p class="lead mt-4">{{quote.content}}</p>
    <footer class='blockquote-footer'>
      <cite><a target='_blank' href="https://www.google.com/search?q={{quote.author}}">{{quote.author}}</a></cite>
    </footer>
  </blockquote>
  <hr class='mt-4'>
  <div class="container d-flex justify-content-around mt-4">
    <a href="" class="btn btn-outline-primary">Gain more wisdom</a>
    <a href="" class="btn btn-outline-primary">Create more wisdom</a>

  </div>
</div>
<div id="push"></div>
{%endblock%}