{% extends 'base.html'%}
{% set active_page = "home"%}
{% block title %}Axiomatic{% endblock %}
{% block content %}
<div class=" mb-5text-center">
  <div class=" text-center">
    <div class="container-fluid img-holder anon p-0">
      <img class='center-fit'src="https://images.unsplash.com/photo-1492269682833-cd80f8a20b08?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTV8fHplbnxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
      <div class="centered hero">
        <h1 class="display-4 fw-bold text-primary">Axiomatic</h1>
        <div class="col-lg-6 mx-auto">
          <p class=" d-none d-sm-block lead text-secondary mb-4">Read what the world's most renowned philosophers and intellectuals have to say. Discuss, create, have some fun!</p>
        </div>
        <div class=" row d-flex justify-content-around">
          <div class="col-12 col-md-6">
            <a href="/signup" class="btn btn-primary btn-lg m-2">Join the community</a>
          </div>
          <div class="col-12 col-md-6">
            <a href="/quotes" class="btn btn-outline-secondary btn-lg m-2">Gain some wisdom</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-md text-center qod">
  <h1 class="display-4 text-center">
    Todays Words of Wisdom from {{quote.author}}
  </h1>
  <hr>
  <blockquote class='blockquote py-4 my-4'>
    <p class="lead mt-4">{{quote.content}}</p>
    <footer class='blockquote-footer'>
      <cite><a target='_blank' href="https://en.wikipedia.org/wiki/{{quote.author}}">{{quote.author}}</a></cite>
    </footer>
  </blockquote>

</div>
<div class="push"></div>
{%endblock%}