{% extends 'base.html'%}
{%set active_page='account'%}
{% block title %}Edit Account{% endblock %}

{% block content %}
<div class="container border rounded bg-light p-3 mt-3">
<h1 class="display-3 text-center">Edit your account</h1>
    <form method='POST'>
        {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden'%}
        <div class="mb-3">
            {{field.label(class='form-label')}}
       {{ field(class="form-control") }}
       {% for error in field.errors%}
       <span class="text-danger">{{error}}</span>
       {% endfor %}
        </div>
    {%endfor%}
    <a href="/account" class="btn btn-secondary">Cancel</a>
    <button class="btn btn-primary">Save</button>
    
    </form>
</div>


{% endblock%}