{% extends 'base.html'%}
{%set active_page='account'%}
{% block title %}Your account{% endblock %}

{% block content %}
<div class="container-md border rounded bg-light" style="min-height:50vh">
    <h1 class="display-4 text-center">{{g.poet.username.capitalize()}}'s Account Information</h1>
    <hr>
    <div class="container-md m-5 justify-content-center">

        <div class="row">
            <div class="col">
                Username:
            </div>
            <div class="col">
                {{g.poet.username}}
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                Bio:
            </div>
            <div class="col">
                {{g.poet.bio or 'No bio'}}
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                Profile image:
            </div>
            <div class="col">
                <img src="{{g.poet.image_url}}" style='width:100px' alt="">
                
            </div>
            <hr>
        </div>
        <a href="/account/edit" class="btn btn-primary">Edit account information</a>
        <a href="/quotes/new" class="btn btn-outline-primary">Make a new Quote</a>
    </div>
    <div class="container-fluid  border p-0 rounded mt-4">
        <div class="container-fluid" style='height:30px'>
            <p class="d-inline mr-2">Show me:</p>
            <a href="/account?f=likes" class="badge badge-success">My Likes</a>
            <a href="/account?fluid=own" class="badge badge-primary">My Quotes</a>
            <a href="/account?f=shares" class="badge badge-secondary">My Shares</a>
        </div>
        <div class="container-fluid border">
            <div class="row">
                {% for quote in quotes|reverse %}
                <div class="col-12 col-md-4">
                    {% include '/quotes/quote.html' %}
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
</div>
{% endblock%}